/* Vos customisations des classes de Bootstrap */

/* Globals */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Arvo', serif;
}
h1{
    font-size: 4rem;
}


/* Home */
#home{
    background-image: url(../images/hero-image.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
#scrollUp
{
position: fixed;
bottom : 10px;
right: 100px;
opacity: 0.5;
}
/*WHO*/

.separator{
    width: 100px;
    border-bottom: solid red 2px;
    margin-bottom: 10px;

}
.bg-secondary{
    background-size: contain;
    background-color: gray;
}
/*get*/




/*footer*/

#footer{
     
    background-size: cover;
    background-color: red;
}



/* Responsive Styling */

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}
